content none
source https://www.nuget.org/api/v2
redirects: on
framework: net452

nuget Deedle
nuget FSharp.Azure.StorageTypeProvider
nuget FSharp.Data
nuget FSharp.Data.SqlClient
nuget XPlot.GoogleCharts.WPF
nuget XPlot.Plotly.WPF
nuget FSharp.Core
nuget MBrace.Thespian

github fsprojects/FsReveal build.fsx .